.main {
  display: flex;
  justify-content: center;
}

.speechBubbleWrapper {
  align-items: center;
  flex-direction: column;
  display: flex;
  position: relative;
}
.button {
  border: none;
  font-family: "Amatic SC";
  font-size: 2rem;
  background-color: transparent;
  margin-top: 4rem;
}

h2 {
  font-size: 2rem;
  color: black;
  position: absolute;
  width: 250px;
}
.grumpy[rotate="1"] {
  animation: grumpy 0.5s linear;
}

@keyframes grumpy {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}
