@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap");

.App {
  color: rgb(224, 156, 192);
  font-family: "Amatic SC";
  text-align: center;
}
h1 {
  margin-block-end: 0em;
}
